<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.StudentDao">
    <!--配置一个resultMap 指定返回的类型 -->
    <resultMap id="studentModelRM" type="Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="address" property="address"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="insert" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                name,
            </if>
            <if test="age!=null">
                age,
            </if>
            <if test="gender!=null">
                gender,
            </if>
            <if test="birthday!=null">
                birthday,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(address)">
                address,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                #{name},
            </if>
            <if test="age!=null">
                #{age},
            </if>
            <if test="gender!=null">
                #{gender},
            </if>
            <if test="birthday!=null">
                #{birthday},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(address)">
                #{address},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student(`name`,gender,birthday,age,address,`status`)
        VALUES
        <foreach collection="list" item="user" index="user" separator=",">
            (
            #{user.name},
            #{user.gender},
            #{user.birthday},
            #{user.age},
            #{user.address},
            #{user.status}
            )
        </foreach>
    </insert>
    <delete id="delete" parameterType="Student">
        DELETE FROM student
        <where>
            id=#{id}
        </where>
    </delete>
    <update id="update" parameterType="Student">
        UPDATE student
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                name=#{name},
            </if>
            <if test="age!=null">
                age=#{age},
            </if>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="birthday!=null">
                birthday=#{birthday},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(address)">
                address=#{address},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="getById" parameterType="Student" resultType="Student">
        SELECT
        s.*
        FROM
        student s
        <where>
            s.id=#{id}
        </where>
    </select>

    <select id="findAll" parameterType="Student" resultMap="studentModelRM">
        select
        s.*
        from
        student s
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                AND m.`name` like CONCAT('%',"\\" #{name},'%' )
            </if>
            <if test="gender != null">
                AND s.`gender`=#{gender}
            </if>
            <if test="age != null">
                AND s.`age`=#{age}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(address)">
                AND m.`address` like CONCAT('%',"\\" #{address},'%' )
            </if>
        </where>
    </select>
    <!-- id 固定的 findPaging parameterType 固定的 pageModel params.entity固定写法 -->
    <select id="findPage" parameterType="student" resultMap="studentModelRM">
        SELECT
        s.id,
        s.name,
        s.gender,
        s.age,
        s.birthday,
        s.address,
        s.status
        FROM
        student s
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(name)">
                AND m.`name` like CONCAT('%',"\\" #{name},'%' )
            </if>
            <if test="gender != null">
                AND s.`gender`=#{gender}
            </if>
            <if test="age != null">
                AND s.`age`=#{age}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(address)">
                AND m.`address` like CONCAT('%',"\\" #{address},'%' )
            </if>
        </where>
        ORDER by id
    </select>
</mapper>